<section class="cart" > 
    <div class="heading">
        <h1>Total: {{sum}} mdl</h1>
        <button class="btn1">Order</button>
    </div>
    <div class="body" *ngIf="myCartt.length > 0; else elseBlock">
        <h2>Products:</h2>
        <div class="products" *ngFor="let category of myCartt">
            <div class="header">
                <h3>{{category.category}}</h3>
            </div>
            <div class="category" *ngFor="let product of category.products">
                <!-- <a href="/product/{{product.product_id}}" (click)="setProdus(product)"> -->
                <a href="/product/{{product.product_id}}" (click)="setProdus(product)" class="product">
                    <div class="image">
                        <img src="{{product.image}}" alt="">
                    </div>
                    <div class="about">
                        <p>{{product.product}}</p>
                        <p class="masa_netto">{{product.masa_netto}}</p>
                    </div>
                </a>
                <div class="options">
                    <h4>{{product.price}}mdl</h4>
                    <div class="quantity">
                        <button class="btn" (click)="minus(product.product_id)">-</button>
                        <p>{{product.quantity}}</p>
                        <button class="btn" (click)="plus(product.product_id)">+</button>
                    </div>
                    <button class="btn" (click)="delete(product.product_id)">Delete</button>
                </div>
            <!-- </a> -->
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="xxx">
            <h1>Your cart is empty! Click
                <a href="/displayAll">here</a>
                to buy some products!</h1>
        </div>
    </ng-template>
</section>
